h1{
    font-family: 'Roboto', sans-serif;
    color: teal;
}
.Box{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}
.welcome{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;


}
p{
    margin: 2px;
}
input{
    height: 40px;
    width: 300px;
    padding: 5px;
    margin: 0 10px;
    border-radius: 10px;
    border: 1px gray solid;
}
button{
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    width:100px;
}
.form{
    display: flex;
}
.books{
    display: flex;
    flex-direction: column;
    padding: 10px;
 
}
p{
    padding: 0;
}
.book{
background-color: rgb(241, 237, 237);
display: flex;
flex-direction: column;
box-shadow: 0 10px 70px 0 rgb(181, 204, 234);
border-radius: 10px;
padding: 10px;

margin: 10px;
}
.notInStock{
   color: red;
   font-weight: bold;
}
.inStock{
  color: green;
  font-weight: bold;
}